{% extends "study/base.html" %}

{% block content %}
<h1>Start</h1>

{% if least_respondents_q %}
    <a class="btn btn-primary" href="{% url 'study:questionnaire' least_respondents_q.id %}">
        Start the questionnaire!
    </a>
{% else %}
    {% if questionnaire_list %}
        <ul>
            {% for questionnaire in questionnaire_list %}
            <li><a href="{% url 'study:questionnaire' questionnaire.id %}">{{ questionnaire.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No questionnaires are available.</p>
    {% endif %}
{% endif %}

{% endblock %}